# Calculate format=kde link=/usr/share/applications/waterfox-bin.desktop name=calculate-browser.desktop mirror pkg(www-client/waterfox-bin)>=55.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
