# Calculate format=kde path=/etc/xdg/autostart

[Desktop Entry]
Name=VolumeIcon
Comment=A lightweight volume control that sits in your systray
Exec=/bin/bash -c "sleep 6;volumeicon"
Terminal=false
Type=Application
