# Calculate comment=!
! для применения настроек в текущей сессии используйте `xrdb -load ~/.Xresources`

Xcursor.theme: haematite
Xcursor.size: 20

!Xft.antialias: true
Xft.dpi: 96
Xft.rgba: rba
Xft.lcdfilter:  lcddefault
Xft.hinting: true
Xft.hintstyle: hintslight

URxvt.perl-ext-common: default,tabbed,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 3
URxvt.colorUL: #cacc46
URxvt.underlineURLs: true
URxvt.underlineColor: #cacc46

!URxvt.font: xft:Andale Mono:size=10:antialias=true
!URxvt.boldFont: xft:Andale Mono:bold:size=10:antialias=true
URxvt.font: xft:Roboto Mono for Powerline:size=10
URxvt.boldFont: xft:Roboto Mono for Powerline:bold:size=10

URxvt.saveLines: 5000
URxvt.geometry: 120x35
URxvt.termName: rxvt-unicode-256color

URxvt.scrollBar: true
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollColor: #1A1A1A

! color the man
URxvt.colorMode: on
URxvt.boldColors: on
URxvt.dynamicColors: on
URxvt.colorULMode: on
URxvt.underLine: off
URxvt.colorBDMode: on
URxvt.colorBD:  cyan

URxvt.background: #0f0f0f
URxvt.foreground: #c8c8c8

! black
URxvt.color0:  #2E3436
URxvt.color8:  #555753
! red
URxvt.color1:  #a40000
URxvt.color9:  #EF2929
! green
URxvt.color2:  #4E9A06
URxvt.color10: #8AE234
! yellow
URxvt.color3:  #C4A000
URxvt.color11: #FCE94F
! blue
URxvt.color4:  #3465A4
URxvt.color12: #729FCF
! purple
URxvt.color5:  #75507B
URxvt.color13: #AD7FA8
! orange (replaces cyan)
URxvt.color6:  #ce5c00
URxvt.color14: #fcaf3e
! white
URxvt.color7:  #babdb9
URxvt.color15: #EEEEEC

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

! URxvt.iconFile: /usr/share/pixmaps/terminal.xpm
