# Calculate format=kde link=/usr/share/applications/speedcrunch.desktop name=calculate-calculator.desktop mirror pkg(sci-calculators/speedcrunch)>=0.10

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
