# Calculate format=kde link=/usr/share/applications/kvirc4.desktop name=calculate-chat.desktop mirror pkg(net-irc/kvirc)>4.3

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=

Name=Calculate Linux Community
Name[bg]=Calculate Linux Общност
Name[ru]=Сообщество Calculate Linux
Name[uk]=Cпівтовариство Calculate Linux

