# Calculate format=kde link=/usr/share/applications/deadbeef.desktop name=calculate-audioplayer.desktop mirror pkg(media-sound/deadbeef)>=0.6

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
