# Calculate format=kde link=/usr/share/applications/opera-developer.desktop name=calculate-browser.desktop mirror pkg(www-client/opera-developer)>=40

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
