# Calculate format=kde link=/usr/share/applications/pburn.desktop name=calculate-imageburn.desktop mirror pkg(app-cdr/pburn)>=4.3

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
