# Calculate format=kde link=/usr/share/applications/dwb.desktop name=calculate-browser.desktop mirror pkg(www-client/dwb)>=2014

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
