# Calculate format=samba
#?ur_mail!=&&ur_fullname!=#
[user]
	name = #-ur_fullname-#
	email = #-ur_mail-#
#ur_mail#
[color]
	diff = auto
	branch = auto
	interactive = auto
	status = auto
[alias]
        co = checkout
        ci = commit
        st = status
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
        lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
[merge]
        tool = vimdiff
[mergetool]
        prompt = false
[push]
        default = simple
