# Calculate chmod=755 os_root_type==livecd
#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name[bg]=Ръководство за инсталиране
Name[ru]=Руководство по установке
Name=Installation Guide
Comment=
Categories=Application;
#?os_locale_language!=ru&&os_locale_language!=fr&&os_locale_language!=es#
Exec=xdg-open /usr/share/calculate/doc/handbook-en.html
#os_locale_language#
#?os_locale_language==ru#
Exec=xdg-open /usr/share/calculate/doc/handbook-ru.html
#os_locale_language#
#?os_locale_language==es#
Exec=xdg-open /usr/share/calculate/doc/handbook-es.html
#os_locale_language#
Icon=help-contents
Terminal=false
StartupNotify=false
