# Calculate format=samba
#?ur_mail!=&&ur_fullname!=#
[user]
	name = #-ur_fullname-#
	email = #-ur_mail-#
#ur_mail#
[color]
	diff = auto
	branch = auto
	interactive = auto
	status = auto
[alias]
	co = checkout
	ci = commit
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[merge]
        tool = vimdiff
[mergetool]
        prompt = false
