# Calculate chmod=755 format=kde link=/usr/share/applications/cl-console-gui-install.desktop os_root_type==livecd mirror
[Desktop Entry]
NoDisplay=false
