# Calculate format=kde path=/usr/share/applications name=calculate-chat.desktop ini(desktop.chat)==hexchat

[Desktop Entry]
#?os_locale_language==fr#
Exec=hexchat "--url=irc://irc.freenode.net:6697/#calculate-fr"
#os_locale_language#
#?os_locale_language==ru#
Exec=hexchat "--url=irc://irc.freenode.net:6697/#calculate-ru"
#os_locale_language#
#?in(os_locale_language,ru,fr)==#
Exec=hexchat "--url=irc://irc.freenode.net:6697/#calculate"
#in#
